extends ./layout.jade

block fstContent
    img.img-responsive(src="assets/images/buildings.jpg")

block sndContent
    .row
        .col-lg-6.text-center
            a(href='http://engineer.kmitl.ac.th/' target="_blank")
                    img(src="assets/images/ENG.jpg")
            a(href='http://www.arch.kmitl.ac.th/' target="_blank")
                img(src="assets/images/ARCH.jpg")
            a(href='http://www.science.kmitl.ac.th/' target="_blank")
                img(src="assets/images/SCI.jpg")
            a(href='http://www.agri.kmitl.ac.th/' target="_blank")
                img(src="assets/images/ARG.jpg")
            a(href='http://www.agroind.kmitl.ac.th/' target="_blank")
                img(src="assets/images/ENG.jpg")
            a(href='http://www.inded.kmitl.ac.th/' target="_blank")
                img(src="assets/images/INDEDU.jpg")
        .col-lg-6.text-center
            a(href='http://www.it.kmitl.ac.th/' target="_blank")
                img(src="assets/images/IT.jpg")
            a(href='http://www.nano.kmitl.ac.th/' target="_blank")
                img(src="assets/images/NANO.jpg")
            a(href='http://www.dstar.kmitl.ac.th/' target="_blank")
                img(src="assets/images/INNO.jpg")
            a(href='http://www.amc.kmitl.ac.th/' target="_blank")
                img(src="assets/images/MANAGE.jpg")
            a(href='http://www.ic.kmitl.ac.th/' target="_blank")
                img(src="assets/images/FOREIGN.jpg")
