extends ./layout.jade

block fstContent
    img.img-responsive(src="assets/images/dormitories.jpg")

block sndContent
    .row
        .col-lg-6
            p
                a(href="dormitories?zone=gay1" type="button" target="_blank")
                    |  ซอยเกกีงาม 1
            p
                a(href="dormitories?zone=gay2" type="button" target="_blank")
                    |  ซอยเกกีงาม 2
            p
                a(href="dormitories?zone=gay3" type="button" target="_blank")
                    |  ซอยเกกีงาม 3
            p
                a(href="dormitories?zone=RNP" type="button" target="_blank")
                    |  RNP 
            p
                a(href="dormitories?zone=RNPnew" type="button" target="_blank")
                    |  RNP ใหม่
        .col-lg-6
            p
                a(href="dormitories?zone=teaHouse" type="button" target="_blank")
                    |  บ้านชา
            p
                a(href="dormitories?zone=FBT" type="button" target="_blank")
                    |  FBT
            p
                a(href="dormitories?zone=postOffice" type="button" target="_blank")
                    |  ไปรษณีย์
            p
                a(href="dormitories?zone=dawn" type="button" target="_blank")
                    |  รุ่งอรุณ
            p
                a(href="dormitories?zone=etc" type="button" target="_blank")
                    |  อื่นๆ
