extends ./layout.jade

block fstContent
    img.img-responsive(src="assets/images/dormitories.jpg")

block sndContent
    .row
        .col-lg-6.text-center
            a.btn.btn-info(href="http://www.google.com" type="button")
                | Info
        .col-lg-6.text-center
            a(href='http://www.it.kmitl.ac.th/' target="_blank")
                img(src="assets/images/IT.jpg")
            a(href='http://www.nano.kmitl.ac.th/' target="_blank")
                img(src="assets/images/NANO.jpg")
            a(href='http://www.dstar.kmitl.ac.th/' target="_blank")
                img(src="assets/images/INNO.jpg")
            a(href='http://www.amc.kmitl.ac.th/' target="_blank")
                img(src="assets/images/MANAGE.jpg")
            a(href='http://www.ic.kmitl.ac.th/' target="_blank")
                img(src="assets/images/FOREIGN.jpg")
