extends ./commonLayout.jade

block body
  .row
    .col-lg-12
       .panel.panel-default
         .panel-heading
           h3.panel-title
               i.glyphicon.glyphicon-map-marker 
                   fstSubtopic=fstSubtopic
         .panel-body
           //#morris-area-chart
           block fstContent
               img.img-responsive(src="assets/images/sampleMap.jpg")
    .row
     .col-lg-12
       .panel.panel-default
         .panel-heading
           h3.panel-title
             i.glyphicon.glyphicon-list-alt
                 sndSubtopic=sndSubtopic
         .panel-body
             block sndContent
                 .row
                     .col-lg-6
                         a(href='#' target="blank")
                             | 1. Test link
                     .col-lg-6
                         a(href='#' target="blank")
                             | 2. Test link
